@tailwind base;

/* Write your own custom base styles here */
ul {
  list-style: square;
}

ol {
  list-style: decimal-leading-zero;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

article a {
  text-decoration: underline;
}
article img {
  width: 100%;
}

article pre {
  max-width: 100%;
  background-color: #2e3440;
  overflow-x: scroll;
  padding: 1rem;
  border-radius: 5px;
  color: white;
}

article iframe {
  width: 100%;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
